$primary-colour: #8c731a

body
  margin: 0
  background-color: #e6ff8c
  height: 100vh

h1
  margin: 0
  text-align: center

h2
  margin: 0
  text-align: center

.hbar
  width: 100%
  height: 3px
  background-color: $primary-colour

header
  background-color: black
  h1
    padding: 1rem 0
  h2
    padding-bottom: 1rem
  a
    text-decoration: none
    color: $primary-colour
  ul
    margin: 0
    padding: 0
    list-style-type: none
    display: flex
    justify-content: space-around

#content-area
  width: 100%
  height: 100%
  display: flex
  flex-flow: nowrap row
  .container
    width: 100%
    height: 100%
    display: flex
    flex-flow: nowrap column
    align-items: center
    overflow-x: hidden
    transition: 0.5s
    p
      max-width: 800px
      padding: 1rem
  #home-container
    width: 100%
  #artists-container
    width: 0%
  #venues-container
    width: 0%
  #events-container
    width: 0%
  #blog-container
    width: 0%

@media screen and (orientation: landscape) and (min-width: 800px)
  header
    height: 5rem
    padding: 0 2rem
    display: flex
    justify-content: space-between
    align-items: center
    h1
      padding: 0
      cursor: pointer
    h2
      margin: 0
      padding: 1.7rem
      cursor: pointer
      &:hover
        background-color: $primary-colour
        color: black
